DR_MODEL_INPUT_SIZE=300
DR_PREPROCESSING_MODE=letterbox
DR_MAX_UPLOAD_SIZE_MB=20
DR_DEFAULT_AI_MODEL=scripted
DR_MODEL_CHANNEL_NORMALIZATION=imagenet
DR_SCRIPTED_MODEL_PATH=./models/best_model_scripted.pt
DR_SCRIPTED_MODEL_METADATA_PATH=./models/best_model_metadata.json
DR_FIREBASE_CREDENTIALS_PATH=./secrets/firebase-admin.json
DR_MEDICAL_ENCRYPTION_KEY=replace-this-medical-key
DR_LEGACY_MEDICAL_DECRYPTION_KEY=
DR_MEDIA_SIGNING_KEY=replace-this-media-signing-key
DR_SIGNED_MEDIA_TTL_SECONDS=300
